body {
  background-color: Aquamarine;
}

h2 {
  text-align: left;
  font-size: 40;
}

li {
  text-align: left;
  font-size: 30;
}

img {
  border-style: dashed;
  border-width: medium;
}

button {
  float: right;
  width: 9em;
  height: 3em
