body {
  background-color: Aquamarine;
}

h2 {
  text-align: left;
  font-size: 40;
}

h3 {
  text-align: left;
  font-size: 35;

}

p {
  text-align: left;
  font-size: 25;
}

button {
  float: right;
  width: 9em;
  height: 3em;
} 
